.contactSection {
    width: 100%;
    height: 100vh;
    background: url('../../assets/img/map.jpg') no-repeat center/cover;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.contactSection h1 {
    font-size: 38px;
    letter-spacing: 7px;
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 80px;

}
.contactSection p {
    letter-spacing: 8px;
    position: absolute;
    top: 150px;
    color: rgb(234, 175, 1);
}

.contactSection .icons {
    position: absolute;
    top: 220px;
    cursor: pointer;

}
.icons i {
    margin-left: 40px;
    font-size: 23px;
}


.icons i:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease; 
}


